# Node
node_modules

# Build artifacts
dist
coverage
.turbo

# Env files
.env

# Local SQLite dev DB
packages/api/prisma/dev.db
packages/api/prisma/dev.db-journal
packages/api/prisma/migrations/*
*.db
*.db-journal